---
import { getCollection } from "astro:content";
const blog = await getCollection("blog");
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <section>
      <ul class="blog-list">
        {
          blog
            .filter((blog) => !blog.data.draft)
            .map((blogPost) => {
              return (
                <li class="blog-list__list-item">
                  <div class="blog-list__link-container">
                    <time>{blogPost.data.pubDate.toLocaleDateString()}</time>
                    <a href={`/blog/${blogPost.slug}`}>{blogPost.data.title}</a>
                  </div>
                  <span class="blog-list__description">
                    <p>{blogPost.data.description}</p>
                  </span>
                </li>
              );
            })
        }
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  section {
    display: grid;
    max-width: 90ch;
    margin: 0 auto;
    padding: var(--space-s);
  }

  .blog-list {
    margin: 0;
    padding: 0;
    display: grid;
    gap: var(--space-s);
  }

  .blog-list__list-item {
    display: grid;
    gap: var(--space-s);
  }

  .blog-list > li::marker {
    color: var(--accent);
  }

  .blog-list__link-container {
    display: flex;
    flex-direction: column;
  }

  .blog-list__link-container > a {
    color: var(--white);
    font-family: var(--zodiac);
    font-size: var(--step-2);
    font-weight: 660;
    text-decoration-color: var(--purple);
    text-underline-offset: 4px;
    width: fit-content;
  }
  .blog-list__link-container > a:hover {
    text-decoration-color: var(--accent);
    transition: text-decoration-color ease 200ms;
  }
  .blog-list__link-container > time {
    font-family: var(--roboto);
  }

  .blog-list__description {
    display: flex;
    font-family: var(--roboto);
  }
</style>
