.blog > section {
  /* display: flex;
  flex-direction: column;
  max-width: 90ch;
  margin: 0 auto;
  padding: var(--space-s) var(--space-l);
  gap: var(--space-s); */

  display: grid;
  grid-template-columns: 1fr 90ch 1fr;
  gap: var(--space-s);
}

.blog .image.full {
  grid-column-start: span 3;
  width: 100%;
  padding: 0 var(--space-l);
  transition: all ease 200ms;
}

.blog .image.full:hover {
  cursor: zoom-out;
}
.blog .image:not(.full):hover {
  cursor: zoom-in;
}

@media (width <= 90ch) {
  .blog > section {
    grid-template-columns: 1fr;
  }

  .blog .image.full {
    padding: 0 var(--space-s);
  }
}

.blog > section > * {
  grid-column-start: 2;
}

.blog :is(p, a, ul, ol) {
  font-family: var(--roboto);
  color: var(--muted);
}

.blog :is(p, ul, ol) a {
  text-decoration-color: var(--blue);
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.blog :is(h1, h2, h3),
.blog :is(h1, h2, h3) > a {
  font-family: var(--zodiac);
  font-weight: 660;
  color: var(--white);
}

.blog h1 > a {
  color: var(--white);
  font-size: var(--step-3);
  text-decoration-color: var(--accent);
  text-underline-offset: 4px;
}

.blog h2,
.blog h2 > a {
  font-size: var(--step-1);
  color: var(--white);
  font-weight: 660;
  width: fit-content;
  text-decoration-color: var(--purple);
  text-underline-offset: 4px;
}

.blog h3,
.blog h3 > a {
  font-size: var(--step-0);
  color: var(--white);
  font-weight: 660;
  width: fit-content;
  text-decoration-color: var(--orange);
  text-underline-offset: 4px;
}

.blog li::marker {
  color: var(--accent);
}

.blog table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  color: var(--white);
  font-family: var(--roboto);
  max-width: fit-content;
}

.blog :is(th, td) {
  border: 1px solid var(--muted);
  padding: var(--space-s);
  text-align: left;
}

.blog blockquote {
  background-color: var(--orange);
  border-radius: 10px;
  padding: var(--space-s);
  border: 4px solid var(--orange-dark);
}

.blog blockquote p {
  color: var(--white);
  color: var(--black);
  font-weight: 700;
  font-family: var(--roboto);
}
