---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <section>
      <p>
        Hello! I'm a UX Developer based in Austin, TX. Born and raised in
        Toronto, Canada. I like keyboards, houseplants and listening to music.
      </p>
    </section>
  </main>
</BaseLayout>

<style>
  body {
    background-color: var(--black);
    color: var(--white);
  }

  section {
    max-width: 120ch;
    margin: 0 auto;
    padding: var(--space-s) var(--space-s);
  }

  p {
    color: var(--white-muted);
    font-family: var(--roboto);
    font-size: var(--step-1);
  }
</style>
