---
import BaseLayout from "../layouts/BaseLayout.astro";

const featuredPhotos = await Astro.glob(
  "/public/images/photos-page/featured/*.webp"
).then((files) =>
  files.map((file) => {
    const filename = file.default.split("__")[1];
    return { src: file.default, filename };
  })
);
---

<BaseLayout>
  <main>
    <section class="about-me">
      <h3>Hello, everyone!</h3>
      <p>My name is Brian and welcome to my little piece of the internet.</p>
      <a href="/blog">See blog posts here <span>&RightArrow;</span></a>
    </section>
    <div class="divider">
      <hr />
    </div>
    <section class="img-section">
      <img src={featuredPhotos[2].src} alt="photo" />
      <img src={featuredPhotos[1].src} alt="photo" />
      <img src={featuredPhotos[3].src} alt="photo" />
      <div>
        <h3>Photos</h3>
        <p>
          Most of my photos have been shot with my Canon 5D MKII. I recently
          picked up a Ricoh GR IIIx and have been shooting more with that lately
          &dash; I've been enjoying the film simulations quite a lot.
        </p>
        <a href="/photos">See more photos here <span>&RightArrow;</span></a>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  .about-me {
    display: grid;
    gap: var(--space-s);
    max-width: 90ch;
    margin: 0 auto;
    padding: var(--space-s) var(--space-s);
    grid-template-columns: 1fr;

    & h3 {
      font-family: var(--zodiac);
      font-size: var(--step-4);
    }

    & p {
      font-family: var(--roboto);
      font-size: var(--step-0);
      color: var(--muted);
    }

    & a {
      font-family: var(--roboto);
      color: var(--muted);
      /* text-decoration-color: var(--very-muted);
      text-underline-offset: 2px; */
      text-decoration: none;
      font-weight: 700;

      & span {
        color: var(--accent);
      }
    }
  }

  .divider {
    max-width: 90ch;
    margin: 0 auto;
    padding: var(--space-l) var(--space-s);

    & hr {
      width: 64px;
      height: 6px;
      border: none;
      background-color: var(--accent);
    }
  }
  .img-section {
    display: grid;
    gap: var(--space-s);
    max-width: 90ch;
    margin: 0 auto;
    padding: var(--space-s) var(--space-s);
    grid-template-columns: repeat(2, 1fr);

    @media (width <= 500px) {
      display: flex;
      flex-direction: column-reverse;
    }

    & div {
      display: grid;
      gap: 4px;
    }

    & h3 {
      font-family: var(--zodiac);
    }

    & p {
      font-family: var(--roboto);
      color: var(--muted);
    }

    & a {
      font-family: var(--roboto);
      color: var(--muted);
      /* text-decoration-color: var(--blue);
      text-underline-offset: 2px; */
      text-decoration: none;
      font-weight: 700;

      & span {
        color: var(--blue);
      }
    }
  }
</style>
