---
import HomeMenuWrapper from "./HomeMenuWrapper.astro";
import HomeLink from "./HomeLink.astro";
---

<header id="header" data-is-scrolling-up="false" data-is-near-top="true">
  <HomeMenuWrapper>
    <HomeLink variant={"header"} />
    <button type="button" id="menu">menu</button>
  </HomeMenuWrapper>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: var(--space-l-xl) var(--space-s);
    transition: background-color ease 200ms;
  }

  header[data-is-near-top="false"] {
    background-color: transparent;
  }

  header[data-is-near-top="true"] {
    background-color: var(--black);
  }

  button {
    all: unset;
    color: var(--white);
    font-family: var(--tanker);
    border: 1px solid var(--gray);
    font-size: var(--step-3);
    padding: 0 var(--space-s);
    transition: border ease 200ms;
    background-color: var(--black);
  }

  button:hover {
    border-color: var(--white);
  }

  [data-is-near-top="false"] button {
    background-color: transparent;
    border-color: var(--accent);
    color: var(--accent);
  }
</style>

<script>
  let prevScrollPos = window.pageYOffset;

  const header = document.getElementById("header") as HTMLElement;

  const setScrollState = () => {
    const currentScrollPos = window.pageYOffset;
    const isScrollingUp = prevScrollPos > currentScrollPos;
    const isNearTop = currentScrollPos < 150;

    header.dataset.isScrollingUp = isScrollingUp ? "true" : "false";
    header.dataset.isNearTop = isNearTop ? "true" : "false";

    prevScrollPos = currentScrollPos;
  };

  const changeHomeLinkColor = () => {
    const homeLink = document.querySelector(
      "[data-variant='header']"
    ) as HTMLElement;
    homeLink.style.setProperty(
      "--local-color",
      header.dataset.isNearTop === "true" ? "var(--white)" : "var(--accent)"
    );
  };

  const handleScroll = () => {
    setScrollState();
    changeHomeLinkColor();
  };

  window.addEventListener("scroll", handleScroll);
</script>
