---
import HomeMenuWrapper from "./HomeMenuWrapper.astro";
import HomeLink from "./HomeLink.astro";
---

<header>
  <HomeMenuWrapper>
    <HomeLink variant={"header"} />
    <ul>
      <li><a href="/blog">blog</a></li>
    </ul>
  </HomeMenuWrapper>
</header>

<style>
  header {
    padding: var(--space-l-xl) var(--space-s);
    transition: background-color ease 200ms;
    pointer-events: none;
    background-color: transparent;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: var(--space-s);
  }

  a {
    color: var(--white);
    font-family: var(--tanker);
    font-size: var(--step-2);
    pointer-events: auto;
    text-decoration-color: var(--very-muted);
    text-underline-offset: 4px;
    transition: text-decoration-color ease 200ms;
  }

  a:hover {
    text-decoration-color: var(--accent);
  }
</style>
