<div>
  <slot />
</div>

<style>
  div {
    display: flex;
    gap: var(--space-s);
    align-items: center;
    max-width: 240ch;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 var(--space-s);
  }
</style>
