---
import NavLink from "./NavLink.astro";

const isCurrent = Astro.url.pathname === "/";
---

<h1><NavLink variant="home" href="/" {isCurrent}>Brian Han</NavLink></h1>

<style>
  h1 {
    font-weight: 400;
    font-size: var(--step-2);
    font-family: var(--tanker);
  }
</style>
