---
import HomeMenuWrapper from "./HomeMenuWrapper.astro";
import HomeLink from "./HomeLink.astro";
import NavBarButton from "./NavBarButton.astro";
---

<dialog id="dialog">
  <nav id="nav">
    <HomeMenuWrapper>
      <HomeLink variant={"navigation-menu"} />
      <NavBarButton variant="close">close</NavBarButton>
    </HomeMenuWrapper>
    <ul>
      <li><a href="/blog">blog</a></li>
    </ul>
  </nav>
</dialog>

<style>
  @keyframes slidein {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0%);
    }
  }

  dialog {
    animation: slidein 200ms ease;
    overflow: hidden;
    min-width: 400px;
    margin-left: auto;
    padding: 0;
    border: none;
    height: 100%;
    background-color: var(--white);
  }

  dialog::backdrop {
    background-color: rgba(255, 255, 227, 0.5);
  }

  dialog[open] {
    animation-duration: 200ms;
    animation-name: slidein;
  }

  nav {
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    padding: var(--space-l-xl) var(--space-s);
    transition: transform ease 200ms;
  }

  button {
    color: var(--black);
    font-family: var(--tanker);
    border: 1px solid var(--gray);
    font-size: var(--step-3);
    padding: 0 var(--space-s);
    transition: border ease 200ms;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--black);
    color: var(--white);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-s);
    margin: var(--space-xl) 0;
    padding: 0 var(--space-s);
  }

  li {
    padding: 0;
    marrgin: 0;
    width: 100%;
    border: 1px solid var(--black);
  }

  li > a {
    color: var(--black);
    font-family: var(--tanker);
    font-size: var(--step-3);
    display: inline-block;
    padding: var(--space-s) 0;
    padding-left: var(--space-s);
    text-decoration-color: var(--black);
    text-underline-offset: 4px;
    width: 100%;
  }

  li > a:is(:hover, :focus) {
    text-decoration-color: var(--accent);
    background: var(--black);
    color: var(--white);
  }
</style>

<script>
  const menuButton = document.querySelector(
    "[data-variant='menu']"
  ) as HTMLElement;
  const closeButton = document.querySelector(
    "[data-variant='close']"
  ) as HTMLElement;
  const body = document.querySelector("body") as HTMLElement;
  const dialog = document.getElementById("dialog") as HTMLDialogElement;

  const handleMenuClick = () => {
    body.style.overflowY = "hidden";
    dialog.showModal();
  };

  const handleCloseClick = () => {
    body.style.overflowY = "initial";
    dialog.close();
  };

  menuButton.addEventListener("click", handleMenuClick);
  closeButton.addEventListener("click", handleCloseClick);
  dialog.addEventListener("click", (e) => {
    if (e.target !== body) {
      body.style.overflowY = "initial";
      dialog.close();
    }
  });
</script>
