---
import HomeMenuWrapper from "./HomeMenuWrapper.astro";
import HomeLink from "./HomeLink.astro";
import NavBarButton from "./NavBarButton.astro";
---

<nav id="nav" data-state="hide">
  <HomeMenuWrapper>
    <HomeLink variant={"navigation-menu"} />
    <NavBarButton variant="close">close</NavBarButton>
  </HomeMenuWrapper>
  <ul>
    <li><a href="/keyboards">keyboards</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/uses">uses</a></li>
    <li><a href="/media">media</a></li>
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    padding: var(--space-l-xl) var(--space-s);
    transition: transform ease 200ms;
  }

  button {
    all: unset;
    color: var(--black);
    font-family: var(--tanker);
    border: 1px solid var(--gray);
    font-size: var(--step-3);
    padding: 0 var(--space-s);
    transition: border ease 200ms;
  }

  button:hover {
    background-color: var(--black);
    color: var(--white);
  }

  [data-state="hide"] {
    transform: translateY(-100%);
  }

  [data-state="show"] {
    transform: translateY(0);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-s);
    margin: var(--space-xl) 0;
    padding: 0 var(--space-s);
  }

  li {
    padding: 0;
    marrgin: 0;
    width: 100%;
    border: 1px solid var(--black);
  }

  li > a {
    color: var(--black);
    font-family: var(--tanker);
    font-size: var(--step-3);
    display: inline-block;
    padding: var(--space-s) 0;
    padding-left: var(--space-s);
    text-decoration-color: var(--black);
    text-underline-offset: 4px;
    width: 100%;
  }

  li > a:is(:hover, :focus) {
    text-decoration-color: var(--accent);
    background: var(--black);
    color: var(--white);
  }
</style>

<script>
  const nav = document.querySelector("#nav") as HTMLElement;
  const menu = document.querySelector("[data-variant='menu']") as HTMLElement;
  const close = document.querySelector("[data-variant='close']") as HTMLElement;
  const body = document.querySelector("body") as HTMLElement;

  const handleMenuClick = () => {
    nav.dataset.state = "show";
    body.style.overflowY = "hidden";
  };

  const handleCloseClick = () => {
    nav.dataset.state = "hide";
    body.style.overflowY = "initial";
  };

  menu.addEventListener("click", handleMenuClick);
  close.addEventListener("click", handleCloseClick);
</script>
