---
interface Props {
  href: string;
  isCurrent: { "aria-current": "page" } | {};
}

const ariaCurrent = { "aria-current": "page" };
const { href, isCurrent } = Astro.props;
const isCurrentProps = isCurrent ? ariaCurrent : {};
---

<a {href} {...isCurrentProps}><slot /></a>

<style>
  a {
    color: var(--white);
    font-family: var(--tanker);
    font-size: var(--step-2);
    font-weight: 400;
    pointer-events: auto;
    text-decoration-color: transparent;
    text-underline-offset: 4px;
    transition: text-decoration-color ease 200ms;
  }

  a:hover {
    text-decoration-color: var(--accent);
  }

  a[aria-current="page"] {
    text-decoration-color: var(--accent);
  }

  a[aria-current="page"]:hover {
    text-decoration-color: var(--very-muted);
  }
</style>
