---
import { getCollection, CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const keyboards = await getCollection("keyboards");

  return keyboards.map((keyboard) => {
    return {
      params: {
        slug: keyboard.slug,
      },
      props: {
        keyboard,
      },
    };
  });
}

interface Props {
  keyboard: CollectionEntry<"keyboards">;
}

const { keyboard } = Astro.props;
const { Content } = await keyboard.render();
---

<h1>{keyboard.data.name}</h1>
<ul>
  <li>
    {keyboard.data.size}
  </li>
  <li>
    {keyboard.data.plate}
  </li>
</ul>
<Content />
