.Photo {
  grid-column-start: 2;
}

@media (width < 835px) {
  .Photo {
    pointer-events: none;
  }
}

.Photo[data-zoom="true"] {
  grid-column: 1/4;
  width: 100%;
}

.Photo[data-zoom="false"]:hover {
  cursor: zoom-in;
}

.Photo[data-zoom="true"]:hover {
  cursor: zoom-out;
}
