/* layout */
.blog {
  padding-bottom: 170px;
}

.blog > section {
  display: grid;
  grid-template-columns: 1fr 90ch 1fr;
  row-gap: var(--space-s);
}

.blog > section > * {
  grid-column-start: 2;
}

@media (width < 835px) {
  .blog > section {
    grid-template-columns: 1fr;
    padding: 0 var(--space-s);
  }
}

/* text and lists */
.blog :is(ul, ol) {
  display: grid;
  row-gap: var(--space-xs);
}

.blog :is(p, a, ul, ol) {
  font-family: var(--roboto);
  color: var(--muted);
}

.blog :is(p, ul, ol) a {
  text-decoration-color: var(--blue);
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.blog li::marker {
  color: var(--accent);
}

/* headings */
.blog :is(h1, h2, h3),
.blog :is(h1, h2, h3) > a {
  font-family: var(--zodiac);
  font-weight: 660;
  color: var(--white);
}

.blog h1 > a {
  color: var(--white);
  font-size: var(--step-3);
  text-decoration-color: var(--accent);
  text-underline-offset: 4px;
}

.blog h2,
.blog h2 > a {
  font-size: var(--step-1);
  color: var(--white);
  font-weight: 660;
  width: fit-content;
  text-decoration-color: var(--purple);
  text-underline-offset: 4px;
}

.blog h3,
.blog h3 > a {
  font-size: var(--step-0);
  color: var(--white);
  font-weight: 660;
  width: fit-content;
  text-decoration-color: var(--orange);
  text-underline-offset: 4px;
}

.blog .description {
  font-style: italic;
  padding: var(--space-l) 0;
}

/* misc: divider, time */
.blog hr {
  width: 0;
  height: 0;
  border: none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--very-muted);
  margin: var(--space-l) auto;
}

.blog time {
  font-family: var(--roboto);
}
