---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar/Navbar.astro";
---

<html lang="en">
  <BaseHead />
  <body>
    <Navbar />
    <slot />
    <style>
      body {
        background-color: var(--black);
        color: var(--white);
        margin-bottom: var(--space-l);
      }
    </style>
  </body>
</html>
